@attribute [Route(PageUrl)]
@attribute [Route(PageUrlAlt)]

<div class="header-image">
</div>

<MudText Typo="Typo.h1" Align="Align.Center" Style="color: white; text-shadow: 2px 2px black; padding-top: 100px;">
    Build your dream computer
</MudText>

<MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true" Style="color: white; text-shadow: 2px 2px black;">
    All it takes is a few clicks
</MudText>

<div class="d-flex justify-content-center">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mt-6">
        Start your build!
    </MudButton>
</div>

<div style="padding-top: 350px">
    <MudText Typo="Typo.h2" Align="Align.Center" GutterBottom="true">
        There's just a few simple steps...
    </MudText>
</div>

<div class="row" style="padding-bottom: 50px;">
    <div class="col-lg-4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Align="Align.Center">Choose your components</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center">Choose from lists of dozens of components.</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="img/Components/2080.jpeg" Height="400" />
        </MudCard>
    </div>
    <div class="col-lg-4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Align="Align.Center">Select peripherals</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center">Pick the perfect peripherals for your system.</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="img/Components/peripherals.jpeg" Height="400" />
        </MudCard>
    </div>
    <div class="col-lg-4">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6" Align="Align.Center">We'll do the rest</MudText>
                    <MudText Typo="Typo.body1" Align="Align.Center">You'll receive updates on your build's progress.</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardMedia Image="img/Components/building-computer.png" Height="400" />
        </MudCard>
    </div>
</div>