<div class="row">
    <div class="col-md-8">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mt-8 pa-8" Style="height: 70vh;" />
    </div>
    <div class="col-md-4">
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="mt-8 pa-8" Style="height: 30vh;" />
    </div>
</div>